<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/css/about.css" />
    <title>About</title>
  </head>
  <body>
    <nav>
      <h1>Welcome to About </h1>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos
        quaerat corrupti molestias velit vero ex dicta tempora, inventore animi
        veniam at natus adipisci, odio beatae nam illum ipsum illo nemo, impedit
        quos. Lorem ipsum dolor, sit amet consectetur adipisicing elit.
        Aspernatur qui sit rem iure repudiandae quis accusamus ea delectus fuga
        velit esse at iusto voluptatibus suscipit numquam nobis assumenda,
        tempora deserunt illo, corrupti voluptate architecto mollitia sequi? Cum
        minus quisquam quia perferendis ea perspiciatis inventore, earum
        corrupti porro. Quisquam, eligendi. Voluptate officia praesentium labore
        rem aliquam vel? Lorem ipsum dolor sit, amet consectetur adipisicing
        elit. Perspiciatis assumenda consectetur, quaerat voluptates dicta et
        non totam, repellat corrupti quidem sunt rem voluptatum? Explicabo animi
        ullam nam odio facilis cum eum autem magnam hic quam ex reiciendis
        impedit, nesciunt maiores facere incidunt architecto. Dolorem debitis
        reprehenderit quidem doloribus suscipit. Tenetur fugiat et, eveniet
        voluptatum quas ipsa! Lorem ipsum dolor sit, amet consectetur
        adipisicing elit. Quo officiis accusamus quisquam voluptatem quibusdam
        corporis non laboriosam minima rem architecto eligendi enim distinctio,
        eveniet explicabo inventore. Enim ducimus beatae nostrum ad distinctio
        cum ratione sint recusandae soluta perspiciatis aspernatur est alias
        perferendis dolorum sit itaque ipsam esse, illum eaque adipisci? Earum
        harum assumenda quas eveniet quod!</p>
    </nav>
    <a href="/">Back to Homepage</a>
  </body>
</html>
