<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="/css/contact.css" />
    <title>Contact-Us</title>
  </head>
  <body>
    <h1>Welcome to Contact </h1>
    <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Excepturi quam
      adipisci culpa autem error, accusantium neque ex consectetur ipsum?
      Quisquam officia asperiores nam quae nobis aperiam quos, amet eveniet
      alias possimus fugit sint libero praesentium dolorem quod, ratione magni
      illum repellat repellendus quia officiis voluptatibus! Incidunt quasi eos
      similique! Eius magnam explicabo, repellendus minus nihil optio nulla illo
      sequi doloremque? Dignissimos culpa eligendi quo blanditiis, labore saepe
      amet eum aperiam non temporibus consectetur repudiandae porro incidunt,
      ipsam architecto reiciendis iure omnis vel impedit, velit totam! Possimus
      minus quis mollitia.</p>
    <a href="/">Back to Homepage</a>
  </body>
</html>
