body {
  background-color: grey;
  text-align: center;
  margin-top: 54px;
}

h1 {
  font-size: 34px;
  color: rgb(238, 233, 228);
}
p {
  font-size: 22px;
  color: rgb(12, 1, 1);
  margin-left: 22px;
  margin-right: 25px;
}
a {
  position: relative;
  color: rgb(243, 135, 34);
  border: 2px solid rgba(233, 233, 17, 0.865);
  text-decoration: none;
  padding: 10px;
  font-size: 23px;
  margin: 30px 1px;
}
a:hover {
  color: rgb(249, 152, 7);
  cursor: pointer;
  background-color: rgba(241, 237, 190, 0.607);
}
