body {
  background-color: rgba(80, 205, 205, 0.622);
  margin:34px;
}
nav {
  text-align: center;
}
h1 {
  margin-top: 55px;
  font-size: 34px;
  color: rgb(103, 14, 155);
}
p,
h4 {
  font-size: 20px;
}
h4 i {
  color: rgba(161, 12, 97, 0.698);
}
a {
  padding:10px;
  margin:20px;
  text-decoration: none;
  font-size: 22px;
  color: black;
  border: 2px solid rgba(233, 233, 17, 0.865);
  
}
a:hover {
  color: rgb(246, 246, 249);
  cursor: pointer;
  background-color: rgb(105, 153, 10);
}
